In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(123456)
df = pd.DataFrame(np.random.randn(5,4),
                 columns = ['A','B','C','D'])

df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

In [3]:
df * 2

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

In [4]:
# subtract first row from every row
df - df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

In [5]:
# get a small portion of df and subtract from df
subframe = df[1:4][['B','C']]
subframe

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

In [6]:
df - subframe

    A   B   C   D
0 NaN NaN NaN NaN
1 NaN   0   0 NaN
2 NaN   0   0 NaN
3 NaN   0   0 NaN
4 NaN NaN NaN NaN

In [8]:
# get column A
a_col = df['A']
#subtract column A from every other column
df.sub(a_col, axis=0)

   A         B         C         D
0  0 -0.751976 -1.978171 -1.604745
1  0 -1.385327 -1.092903 -2.256348
2  0 -1.242720  0.366920  1.933653
3  0 -1.428326 -1.761130 -0.449695
4  0  0.991993  0.701204 -0.662428

# Lets reindex Series and DataFrame objects

In [9]:
np.random.seed(123456)
s = pd.DataFrame(np.random.randn(5))
s

          0
0  0.469112
1 -0.282863
2 -1.509059
3 -1.135632
4  1.212112

In [10]:
s.dtypes

0    float64
dtype: object

In [15]:
# lets give names to the index
s.index = ['a','b','c','d','e']
s # there you go

          0
a  0.469112
b -0.282863
c -1.509059
d -1.135632
e  1.212112

In [19]:
s2 = s.reindex(['a','c','e','g'])
s2['a'] = 0
s2

          0  a
a  0.469112  0
c -1.509059  0
e  1.212112  0
g       NaN  0

In [27]:
s

          0
a  0.469112
b -0.282863
c -1.509059
d -1.135632
e  1.212112

In [28]:
s1 = pd.Series([0,1,2], index = [0,1,2]) # integer index
s2 = pd.Series([3,4,5], index = ['0','1','2']) # string index

# sum is not possible
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [29]:
# lets convert the strings to ints
s2.index = s2.index.values.astype(int)

s1 + s2

0    3
1    5
2    7
dtype: int64

In [30]:
s2

0    3
1    4
2    5
dtype: int64

In [32]:
s2= s.copy()

In [34]:
s2.reindex(['a','f'], fill_value=0)

          0
a  0.469112
f  0.000000

In [35]:
s3 = pd.Series(['red','green','blue'], index = [0,3,5])
s3

0      red
3    green
5     blue
dtype: object

In [36]:
s3.reindex(np.arange(0,7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [37]:
s3.reindex(np.arange(0,7), method='bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object

## Aggregations in the next file 03-Agg_Fun